<%= form_for @efac do |form| %>
  <% if efac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(efac.errors.count, "error") %> prohibited this efac from being saved:</h2>

      <ul>
        <% efac.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%=form.label "Nombre del Evento Formativo:"%>
    <%=form.text_field :name%>
  </div>


  <div>
    <%=form.label "Tipo de evento:"%>
    <%= form.select :content_type, options_for_select([ "Taller", "Curso", "Diplomado", "Programa especial"]), id: 'tipo'%>
  </div>

  <div>
    <%=form.label "Instancia responsable:"%>
    <%= form.select :instance_id, User.where(permission: "instance").collect {|u| [u.name, u.id]}, id: 'tipo' %>
  </div>

  <div>
    <%=form.label "Modalidad:"%>
    <%= form.select :modality, options_for_select(["Presencial", "En línea", "Mixta"]), id: 'tipo'%>
  </div>


  <div>
    <%=form.label "Duración (Horas)"%>
    <%=form.number_field :duration%>
  </div>


  <div>
    <%=form.label "Cuota"%>
    <%=form.number_field :fee%>
  </div>

  <div id="instructor-field-set-container">
  <%= form.fields_for :instructors do |f| %>
      <fieldset id="<%= f.index.to_s %>">
        <div>
          <%= f.label "Nombre Instructor" %>
          <%= f.text_field :name %>
        </div>

        <div>
          <%= f.label "Experiencia del Instructor" %>
        </div>
        <div>
          <%= f.text_area :experience, :cols => 40, :rows => 10 %>
        </div>
          <%= content_tag('a', 'Borrar Instructor',
                          id: "del-"+f.index.to_s,
                          class: "badge badge-danger align-self-center") %>
      </fieldset>
  <% end %>
</div>

  <div class="actions">
    <button type="button" id="addInstructor"> Agregar Instructor </button>
  </div>

  <div>
    <%=form.label "Programa:"%>
  </div>
  <div>
    <%= form.text_area :content, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Objetivos:"%>
  </div>
  <div>
    <%= form.text_area :objectives, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Referencias teóricas y metodológicas:"%>
  </div>
  <div>
    <%= form.text_area :references, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Método de evaluación:"%>
  </div>
  <div>
    <%= form.text_area :eval_method, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Requisitos de acreditación"%>
  </div>
  <div>
    <%= form.text_area :acreditation_requirements, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Utilidad y oportunidad del evento"%>
  </div>
  <div>
    <%= form.text_area :utility, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Requisitos de participación"%>
  </div>
  <div>
    <%= form.text_area :participation_requirements, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Condiciones operativas"%>
  </div>
  <div>
    <%= form.text_area :operative_conditions, :cols => 40, :rows => 10%>
  </div>



  <div>
    <%=form.label "Recursos y materiales didácticos de apoyo:"%>
  </div>
  <div>
    <%= form.text_area :resources, :cols => 40, :rows => 10%>
  </div>


  <div>
    <%=form.label "Capacidad de autofinanciamiento o disponibilidad de recursos"%>
  </div>
  <div>
    <%= form.text_area :resources_availability, :cols => 40, :rows => 10%>
  </div>


  <div class="actions">
    <%= form.submit 'Crear EFAC' %>
  </div>
<% end %>

<script>
  const createButton = document.getElementById("addInstructor");
  createButton.addEventListener("click", () => {
    //console.log($("#instructor-field-set-container").children("fieldset").last()[0]);

    const lastId = $("#instructor-field-set-container").children("fieldset").last()[0].id;

    const newId = parseInt(lastId, 10) + 1;

    const newFieldset = document.querySelector('[id="0"]').outerHTML.replace(/0/g,newId);

    document.querySelector("#instructor-field-set-container").insertAdjacentHTML(
        "beforeend", newFieldset
    );
  });

  function removeField() {
    document.body.addEventListener("click", (e) => {
      //console.log(e);
      //console.log(e.target.nodeName === "A");
      //console.log(e.target.parentNode.previousElementSibling);
      //console.log(e.target.parentNode);
      if (e.target.nodeName === "A" &&
          e.target.parentNode.previousElementSibling) {
        console.log('ola');
        /* to prevent from removing the first fieldset as it's previous sibling is null */
        e.target.parentNode.remove();
        let id_remove = e.target.parentNode.id;
        $('#efac_instructors_attributes_'+String(id_remove)+'_id').remove();
      }
    });
  }
  removeField();
</script>
