
<h1>Evento formativos</h1>
<p>
  Listado de eventos formativos
</p>

<% @efacs.each do |efac| %>
<div class="efac-container">
  <div>

    <h4><%= efac.name%></h4>
    <br>
    <p>
      Tipo didáctico: <%= efac.content_type %>
    </p>
    <br>
    <p>
      Responsable: <%= User.find(efac.user_id).name %>
    </p>
    <br>

    

    <% if efac.aproved? %>
      <h5 style="color: green">
        <%= efac.state %>
      </h5>
      <% elsif efac.rejected? %>
      <h5 style="color: red">
        <%= efac.state %>
      </h5>
      <% else %>
      <h5 style="color: var(--mainBlue)">
        <%= efac.state %>
      </h5>
      <% end %>


  </div>
  <div class="ver">
    <%= link_to 'Ver solicitud', efac %>
  </div>

</div>

<% end %>

<% if current_user.responsible?%>
  <%= link_to 'New Efac', new_efac_path %>
<% end %>
