  <p>
    Listado de eventos formativos > <%= @efac.name%>
  </p>
  <%= link_to 'Regresar', efacs_path %>


  <div class="show-efac">
    <div class="side-1">
    <h3>
      <%= @efac.name %>
    </h3>
    <br>

    <p>
      <strong>Responsable:</strong>
      <%= @efac.responsible_name %>
    </p>
    <p>
      <strong>Instancia responsable:</strong>
      <%= User.find(@efac.instance_id).name %>
    </p>
    <br>
    <p>
      <strong>Objetivos:</strong>
      <%= @efac.objectives %>
    </p>
    <p>
      <strong>Duración:</strong>
      <%= @efac.duration %> horas
    </p>

    <br>

    <p>
      <strong>Requisitos de participación:</strong>
      <%= @efac.participation_requirements %>
    </p>
    <br>
    <p>
      <strong>Requisitos de acreditación:</strong>
      <br>
      <%= @efac.acreditation_requirements %>
    </p>
    <br>

    <p>
      <strong>Condiciones operativo:</strong>
      <br>
      <%= @efac.operative_conditions %>
    </p>
    <br>
    <p>
      <strong>Disponibilidad de recursos:</strong>
      <br>
      <%= @efac.resources_availability %>
    </p>
    <br>
    <strong>Instructores:</strong>
    <br><hr>
    <% @efac.instructors.each do |inst| %>
      Nombre:
      <i>
        <%= inst.name %>
      </i>
      <br>
      Experiencia:
      <i>
        <%= inst.experience %>
      </i>
      <br>
      Currículum:
      <i>
        <% if inst.resume then %>
          <%= link_to "Archivo Adjunto", inst.resume, target: :_blank %>
        <% else %>
          No se ha adjuntado archivo
        <% end %>
      </i>
      <br><hr>
    <% end %>
    <br>
    <p>
      <strong>Cuota:</strong>
      $
      <%= @efac.fee %>
    </p>
    <strong>Estado:</strong>
    <% if @efac.aproved? %>
    <p style="color: green">
      Aprobado
    </p>
    <% elsif @efac.rejected? %>
    <p style="color: red">
      Rechazado
    </p>
    <% elsif @efac.waiting? %>
    <p style="color: var(--mainBlue)">
      Esperando
    </p>
    <% else %>
    <p style="color: var(--mainBlue)">
      Editando
    </p>
    <% end %>

    <% if @efac.reason %>
      <p>
        <strong>Razon de rechazo:</strong>
        <%= @efac.reason %>
      </p>
    <% end %>

    </div>
  <div>

  <% if not @efac.sent and current_user.responsible? and (@efac.editing? or @efac.rejected?) %>
  <div class="botones">

    <%=link_to("Editar", edit_efac_path(@efac), class: "editar")%>
    <%= link_to("Eliminar",  @efac, data: { confirm: '¿Seguro que desea eliminar el Evento Formativo?'}, :method => :delete, class: "rechazar" ) %>
    <%=link_to("Presentar", efac_present_path(@efac), data: { confirm: '¿Seguro que desea presentar el Evento Formativo?'}, :method => :post, class: "aprobar")%>

  </div>
  <% end%>


  <% if current_user.instance? and @efac.waiting?%>
    <div class="botones">
        <%= link_to 'Ver solicitud',  efac_path(@efac, :format => 'pdf'), class: "editar", target: :_blank %>
        <%=link_to("Aprobar", efac_aprove_path(@efac), data: { confirm: '¿Seguro que desea aprobar el Evento Formativo?'}, :method => :post, class: "aprobar")%>
        <a class="rechazar" data-toggle="modal" data-target="#confirmation">Rechazar</a>

    </div>
    <!-- Trigger the modal with a button -->
  <% end %>
    <div class="side-2">
      <p>
        <strong>Modalidad:</strong>
        <%= @efac.modality %>
      </p>
      <br>
      <p>
        <strong>Tipo didáctico:</strong>
        <%= @efac.content_type %>
      </p>

      <br>

      <p>
        <strong>Método de evaluación:</strong>
        <%= @efac.eval_method %>
      </p>
      <br>

      <p>
        <strong>Recursos:</strong>
        <%= @efac.resources %>
      </p>
      <br>

      <p>
        <strong>Referencias:</strong>
        <%= @efac.references %>
      </p>
      <br>

      <p>
        <strong>Utilidad:</strong>
        <%= @efac.utility %>
      </p>

      </div>

    </div>

  </div>

  <%= render 'partials/show_modal', efac: @efac%>
  <%= render 'partials/reject_modal', efac: @efac%>
