
<h1>Evento formativos</h1>
<p>
  Listado de eventos formativos
</p>

<br>
<% if current_user.responsible?%>
  <%= link_to new_efac_path do %>
    <i class="fas fa-plus"></i>
    Nuevo Efac
  <% end %>
<% end %>


<% @efacs.each do |efac| %>
<div class="efac-container">
  <div>

    <h4><%= efac.name%></h4>
    <br>
    <p>
      Tipo didáctico: <%= efac.content_type %>
    </p>
    <br>
    <p>
      Responsable: <%= User.find(efac.user_id).name %>
    </p>
    <br>


    <% if efac.aproved? %>
      <h5 style="color: green">
        Aprobado
      </h5>
      <% elsif efac.rejected? %>
      <h5 style="color: red">
        Rechazado
      </h5>
      <% elsif efac.waiting? %>
      <h5 style="color: var(--mainBlue)">
        Esperando
      </h5>
      <% else %>
      <h5 style="color: var(--mainBlue)">
        Editando
      </h5>
      <% end %>


  </div>
  <div class="ver">
    <%= link_to 'Ver solicitud', efac %>
  </div>

</div>

<% end %>
<br><br>