<%= link_to new_user_path do %>
  <i class="fas fa-user-plus"></i>
  Nuevo Usuario
<% end %>

<br>

<% @users.each do |user| %>
<div class="efac-container">
  <div class="">
    <h4>
      <i class="fas fa-user"></i>&nbsp;
      <%= user.name %>
    </h4>
    <br>
    <h5><i><%= user.role %></i></h5>
    <br>
    <p>
      Correo Electrónico: <%= user.email %>
    </p>
    <br>

    <div class="separados">
      <%= link_to edit_user_path(user.id) do %>
      <i class="fas fa-pen"></i>
      Editar Usuario
      <% end %>
      <% if user != current_user %>
      <%= link_to  "Eliminar Usuario", user, method: :delete %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
