<div class="container">

    <div class="form-group" style="width: 80%">

  <%= form_with(model: @user) do |form| %>
    <div>
      <%= label_tag(type: 'tag') do %>
        <i class="icon-ok icon-white"></i> Correo Electrónico
      <% end %>
      <br>
      <%= form.text_field :email, class: "form-control" %>
    </div>
    <br>
    <div>
      <%= label_tag(type: 'tag') do %>
        <i class="icon-ok icon-white"></i> Nombre
      <% end %>
      <br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <br>
    <div>
      <%= label_tag(type: 'tag') do %>
        <i class="icon-ok icon-white"></i> Rol de Usuario
      <% end %>
      <br>
      <%= form.select :permission, User.permissions.keys.map {|role| [get_user_role(role), role]}, {}, {class: "form-control" } %>
    </div>
    <div>
      <%= form.hidden_field :password, :value => Devise.friendly_token.first(8) %>
      <%= form.hidden_field :nologs, :value => false %>
    </div>
    <div>
      <br>
      <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
        <i class="icon-ok icon-white"></i> Agregar usuario
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'Regresar', users_path %>

</div>
