<!-- Log in -->

<div class="welcome">


  <div class="welcome-banner">
    <h1>SIGEF</h1>
  </div>

  <% if notice %>
  <p class="alert alert-primary"><%= notice %></p>
  <%end%>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <%end%> 
  
  <div class="inicio-sesion">
    <h4>Inicio de sesión</h4>
    <br><br>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= label_tag(type: 'tag') do %>
          Email
          <% end %>
          <br>
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
      </div>
      <br>
      <div>
        <%= label_tag(type: 'tag') do %>
          Contraseña
          <% end %>
          <br>
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password"%>
      </div>

      <br>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :Recordarme %>
        </div>
      <% end %>

      <div>
        <br><br>
        <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>
        Iniciar sesión
        <% end %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>

  </div>
</div>

