<!-- Log in -->

 <!-- Page content -->
 <div class="w3-container" style="margin-top: 43px;">


   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <h1>Bienvenido a SIGEF</h1>
         <p>SIstema de GEstion de Eventos Formativos</p>
         <br>

         <p>Inicia sesión para continuar</p>
     </div>
   </div>
   </div>

   <div class="container">

     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div>
       <%= label_tag(type: 'tag') do %>
       <i class="icon-ok icon-white"></i> Email
       <% end %>
       <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email",  :style => "width:70%" %>
     </div>
     <div>
       <%= label_tag(type: 'tag') do %>
       <i class="icon-ok icon-white"></i> Contraseña
       <% end %>
       <%= f.password_field :password, class: 'form-control', autocomplete: "current-password",  :style => "width:70%"  %>
     </div>
     <br>

     <% if devise_mapping.rememberable? %>
     <div class="field">
       <%= f.check_box :remember_me %>
       <%= f.label :Recordarme %>
     </div>
     <% end %>

     <div>
        <br>
        <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>
          <i class="icon-ok icon-white"></i> Iniciar sesión
        <% end %>
     </div>

     <% end %>
     <br>

     <%= render "devise/shared/links" %>


   </div>
   </div>
